<div class="container">
    <br>
    <h1 class="text-center">Burgersss</h1>
    <br>
    <br>

    <div class="row">

        <div id="fresh" class="col">
            <h2>Come get your burgers</h2>
            <ul>
                {{#each burgers}} {{unless devoured}} {{>burgers/burger-block devoured = true}} {{/unless}} {{/each}}
            </ul>
        </div>

        <div id="eaten" class="col">
            <h2>Burgers that have been devoured...</h2>
            <ul>
                {{#each burgers}} {{#if devoured}} {{>burgers/burger-block devoured = false}} {{/if}} {{/each}}
            </ul>
        </div>

    </div>


    <div id="add" class="text-center">
        <h2>Create Your Own Masterpiece</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="burger" name="name">
            </div>
            <button type="submit">Add your own burger!</button>
        </form>
    </div>
</div>